table {
    margin: 0px auto;            
    margin-top: 13%;

}
body{
    background-color:#21294f;
    color:white;
    font: 25px Verdana;
    height: 100%;
    width:100%;
}
table,th, td 
{   margin: 10px 0;
    border: solid black 5px;
    padding: 2px 4px;
    font: 35px Verdana;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #005ce6;
    color: white;
    font-weight:bold;
}
